<html>
<head>
<title>kiki the dog</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<style>
  body { padding-top: 40px; }
</style>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">kiki the dog</div>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">kiki</a></li>
      <li><a href="/sprint?sprint=*">sprint</a></li>
      <li><a href="/group?epic=*&labels=*&sprint=*&fixVersions=*">group</a></li>
      <li><a href="/links">add links</a></li>
    </ul>
  </div>
</div>
<div class="container">
  {{template "body" .Data}}
</div>
</body>
</html>