<h3>{{ .Name }}</h3>
<h4>Stories Status (points)</h4>
{{with .StoriesStatus}}
<table class="table table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Open</th>
            <th>In Progress</th>
            <th>Resolved</th>
            <th>Reopened</th>
            <th>Closed</th>
            <th>T</th>
            <th>TO</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ .Open }}</td>
            <td>{{ .InProgress }}</td>
            <td>{{ .Resolved }}</td>
            <td>{{ .Reopened }}</td>
            <td>{{ .Closed }}</td>
            <td class="table-secondary font-weight-bold">{{ .Total }}</td>
            <td class="table-secondary font-weight-bold">{{ .TotalOpen }}</td>
        </tr>
    </tbody>
</table>
{{ end }}

<h4>Defects Status (count)</h4>
{{ with .DefectsStatus }}
<table class="table table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Priority/Status</th>
            <th>Open</th>
            <th>In Progress</th>
            <th>Resolved</th>
            <th>Reopened</th>
            <th>Closed</th>
            <th>T</th>
        </tr>
    </thead>
    <tbody>    
        <tr>
            <td>Critical</td>
            <td>{{ .Critical.Open }}</td>
            <td>{{ .Critical.InProgress }}</td>
            <td>{{ .Critical.Resolved }}</td>
            <td>{{ .Critical.Reopened }}</td>
            <td>{{ .Critical.Closed }}</td>
            <td class="table-secondary font-weight-bold">{{ .Critical.Total}}</td>
        </tr>
        <tr>
            <td> Major</td>
            <td>{{ .Major.Open }}</td>
            <td>{{ .Major.InProgress }}</td>
            <td>{{ .Major.Resolved }}</td>
            <td>{{ .Major.Reopened }}</td>
            <td>{{ .Major.Closed }}</td>
            <td class="table-secondary font-weight-bold">{{ .Major.Total}}</td>
        </tr>
        <tr>
            <td>Minor</td>
            <td>{{ .Minor.Open }}</td>
            <td>{{ .Minor.InProgress }}</td>
            <td>{{ .Minor.Resolved }}</td>
            <td>{{ .Minor.Reopened }}</td>
            <td>{{ .Minor.Closed }}</td>
            <td class="table-secondary font-weight-bold">{{ .Minor.Total}}</td>
        </tr>
        <tr class="table-secondary font-weight-bold">
            <td>Total Unique Issues</td>
            <td>{{ sum .Critical.Open  .Major.Open .Minor.Open}}</td>
            <td>{{ sum .Critical.InProgress .Major.InProgress .Minor.InProgress}}</td>
            <td>{{ sum .Critical.Resolved .Major.Resolved .Minor.Resolved}}</td>
            <td>{{ sum .Critical.Reopened .Major.Reopened .Minor.Reopened }}</td>
            <td>{{ sum .Critical.Closed .Major.Closed .Minor.Closed }}</td>
            <td>{{ sum .Critical.Total  .Major.Total .Minor.Total}}</td>
        </tr>
    </tbody>
</table>
{{ end }}

<h4>Story Details</h4>
<table class="table table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Key</th>
            <th>Summary</th>
            <th>FixVersions</th>
            <th>Epic</th>
            <th>Story Points</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Stories}}
        <tr>
            <td>{{ .Key }}</td>
            <td>{{ .Summary }}</td>
            <td>{{ .FixVersions }}</td>
            <td>{{ .EpicLink }}</td>
            <td>{{ .StoryPoints }}</td>
            <td>{{ .Status }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>

<h4>Defect Details</h4>
<table class="table table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Key</th>
            <th>Summary</th>
            <th>FixVersions</th>
            <th>Epic</th>
            <th>Priority</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Defects}}
        <tr>
            <td>{{ .Key }}</td>
            <td>{{ .Summary }}</td>
            <td>{{ .FixVersions }}</td>
            <td>{{ .EpicLink }}</td>
            <td>{{ .Priority }}</td>
            <td>{{ .Status }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>

