<h2>Summary of {{ .Sprint}}</h2>
<h4>Stories (points)</h4>
<table class="table table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Team</th>
            <th>Open</th>
            <th>In Progress</th>
            <th>Resolved</th>
            <th>Reopened</th>
            <th>Closed</th>
            <th>T</th>
        </tr>
    </thead>
    <tbody>
        {{ range $key, $value := .TeamStatus }}
        {{ if and (ne $key "z_total_z") (ne $key "_other_")}}
        <tr>
            <td> {{ $key }}</td>
            {{with $value.Stories}}
            <td>{{ .Points.Open }}</td>
            <td>{{ .Points.InProgress }}</td>
            <td>{{ .Points.Resolved }}</td>
            <td>{{ .Points.Reopened }}</td>
            <td>{{ .Points.Closed }}</td>
            <td class="table-secondary font-weight-bold">{{ .Points.Total }}</td>
            {{ end }}
        </tr>
        {{ end }}
        {{ end }}
        {{ with (index .TeamStatus "z_total_z")}}
        <tr class="table-secondary font-weight-bold">
            <td>Sum Estimation</td>
            {{with .Stories}}
            <td>{{ .Points.Open }}</td>
            <td>{{ .Points.InProgress }}</td>
            <td>{{ .Points.Resolved }}</td>
            <td>{{ .Points.Reopened }}</td>
            <td>{{ .Points.Closed }}</td>
            <td>{{ .Points.Total }}</td>
            {{ end }}
        </tr>
        {{ end  }}
    </tbody>
</table>

<h4>Defects (count)</h4>
<table class="table table-hover table-bordered text-left">
    <thead class="thead-dark">
        <tr>
            <th>Priority/Status</th>
            <th>Open</th>
            <th>In Progress</th>
            <th>Resolved</th>
            <th>Reopened</th>
            <th>Closed</th>
            <th>T</th>
        </tr>
    </thead>
    <tbody>    
        {{ with (index .TeamStatus "z_total_z")}}
        {{with .Defects}}
        <tr>
            <td>Critical</td>
            <td>{{ .Critical.Open }}</td>
            <td>{{ .Critical.InProgress }}</td>
            <td>{{ .Critical.Resolved }}</td>
            <td>{{ .Critical.Reopened }}</td>
            <td>{{ .Critical.Closed }}</td>
            <td class="table-secondary font-weight-bold">{{ .Critical.Total}}</td>
        </tr>
        <tr>
            <td> Major</td>
            <td>{{ .Major.Open }}</td>
            <td>{{ .Major.InProgress }}</td>
            <td>{{ .Major.Resolved }}</td>
            <td>{{ .Major.Reopened }}</td>
            <td>{{ .Major.Closed }}</td>
            <td class="table-secondary font-weight-bold">{{ .Major.Total}}</td>
        </tr>
        <tr>
            <td>Minor</td>
            <td>{{ .Minor.Open }}</td>
            <td>{{ .Minor.InProgress }}</td>
            <td>{{ .Minor.Resolved }}</td>
            <td>{{ .Minor.Reopened }}</td>
            <td>{{ .Minor.Closed }}</td>
            <td class="table-secondary font-weight-bold">{{ sum .Minor.Total}}</td>
        </tr>
        <tr class="table-secondary font-weight-bold">
            <td>Total Unique Issues</td>
            <td>{{ sum .Critical.Open  .Major.Open .Minor.Open}}</td>
            <td>{{ sum .Critical.InProgress .Major.InProgress .Minor.InProgress}}</td>
            <td>{{ sum .Critical.Resolved .Major.Resolved .Minor.Resolved}}</td>
            <td>{{ sum .Critical.Reopened .Major.Reopened .Minor.Reopened }}</td>
            <td>{{ sum .Critical.Closed .Major.Closed .Minor.Closed }}</td>
            <td>{{ sum .Critical.Total  .Major.Total .Minor.Total }}</td>
        </tr>
        {{ end }}
        {{ end }}
    </tbody>    
</table>