<style>
    .link {
        font-size: 1.5em;
        font-weight: bold
    }
</style>
<h2>Add Quick Links</h2>
<form method="POST">
    <div class="form-row">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" class="form-control" placeholder="Enter name of the link">
        </div>
        <div class="form-group">
            <label for="sprint">Sprint</label>
            <input id="sprint" name="sprint" type="text" class="form-control" placeholder="Enter sprint name, ie. Sprint 18">
        </div>
        <div class="form-group">
            <label for="teams">Teams (labels)</label>
            <input id="teams" name ="teams" type="text" class="form-control" placeholder="Enter labels as teams seprate by comma, ie. doraemon,onion">
        </div>
        <input type="hidden" name="type" value="sprint">
    </div>
    <button type="submit" class="btn btn-success" formaction="run_link">Run</button>
    <button type="submit" class="btn btn-success" formaction="add_link">Add This As A Quick Link</button>
</form>

<h3>Existing Quick Links</h3>
<ul class="list-group">
    {{ range .}}
    <li class="list-group-item">    
        <div class="row">
            <form>
                <a class="link" href={{.Link}}>{{.FullName}}</a> <button class="btn btn-danger" formaction="/links/delete/{{.Type}}/{{.ID}}" formmethod="POST">Delete</button>
            </form>
        </div>
    </li>
    {{ end }}
</ul>